@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

/* Navbar */

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    height: 7.6rem;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: #000;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.navbar > .nav-logo {
    height: 7.2rem;
    width: 7.2rem;
    position: absolute;
    left: 50%;
}

.navbar > .nav-logo > img{
    height: 7.2rem;
    width: 7.2rem;

}

.navbar > .left-nav {
    display: flex;
    gap : 2.2rem;
}

.navbar > .left-nav > a{
    color : #F3F1E5;
    text-decoration: none;
    font-size: 1.6rem;
}

.navbar > .right-nav {
    display: flex;
    gap: 1rem;
}

.navbar > .right-nav > a {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Home Page */

#banner{
    padding-top: 7.5rem;
    height: 90rem;
}

#banner > .outer-banner {
    width: 100%;
    height: 100%;
    position: relative;
    color: #F2F1E9;
}

.outer-banner > .banner-image{
    width: 100%;
    height: 100%;
}

.banner-image > img {
    width: 100%;
    height: 100%;
}

.outer-banner > .left-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6.8rem;
    top: 35.8rem;
}

.left-banner > .name {
    font-size: 9.6rem;
    /* width: auto; */
    height: 23rem;
}

.left-banner > .desgn {
    display: flex;
    /* color: #F2F1E9; */
    font-size: 4.8rem;
    height: 7.7rem;
    align-items: center;
}

.outer-banner > .right-banner {
    position: absolute;
    right: 10.5rem;
    top: 50.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.right-banner > .ft{
    font-size: 4.8rem;
}

.right-banner > .song {
    font-size: 6.4rem;
}

.right-banner > .btn > button {
    width: 14.1rem;
    height: 3.7;
    background-color: #000;
    color: #F3F1E5;
    font-size: 1.1rem;
    padding: 1.1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
}

#music{
    width: 100%;
    height: 97rem;
    color: #F3F1E5;
    background-image: url('./assets/MusicSectionBackground.jpg');
    background-size: contain;
}

#music > .outer-music{
    width: 100%;
    height: 100%;
    background-color: #00000083;
    padding : 9rem;
}

.outer-music > .header {
    text-align: right;
    font-size: 9.3rem;
    margin-right: 0.5rem;
}

.outer-music > .music-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    place-items: center;
}

.music-cards > .card {
    width: 55.2rem;
    height: 63.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap : 1.45rem;
}

.card > .card-img{
    width: 55.2rem;
    height: 55.2rem;
    
}

.card-img > img{
    width: 52rem;
    height: 52rem;
    object-fit: cover;
}

.card > .title {
    font-size: 1.8rem;
}

.card > .listen-btn > button{
    width: 14.1rem;
    height: 3.7rem;
    padding: 1.1rem;
    font-size: 1.1rem;
    border-radius: 2rem ;
    background-color: #5B5151;
    color : #fff;
    border: none;
    cursor: pointer;
}


/* Review Section */
#review{ 
    height: 131rem;
    width: 100%;
    background-color: #161614;
    color: #F3F1E5;
}

#review > .review-outer { 
    padding: 9.6rem;
    display: flex;
    flex-direction: column;
}

.review-outer > .title {
    font-size: 9.3rem;
}

.review-outer > .sub-title {
    margin-left: 0.8rem;
    font-size: 3.6rem;
    height: 8.3rem;
    display: flex;
    align-items: center;
}

.review-outer > .open-quote {
    margin-top: 2.6rem;
    margin-left: 0.8rem;
    margin-bottom: 2.6rem;
}

.review-outer > .review-div {
    height: 50rem;
    width: 162rem;
    align-self: center;
    padding:  20.5rem 10rem 5.3rem 8.8rem;
    border: 1px solid #F3F1E5;
    font-size: 3.2rem;
    display: flex;
    flex-direction: column;
}

.review-div > hr {
    align-self: center;
    margin-top: 4rem;
    width: 79rem;
    margin-bottom: 1rem;
}

.review-div > .bottom{
    align-self: center;
}

.review-outer > .close-quote {
    place-self: end;
    margin-top: 2.6rem;
}


/* Live Section */

#live{
    height: 130rem;
    width: 100%;
    background-image: url(./assets/LiveSectionImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #F3F1E5;
}

#live > .live-outer {
    padding: 8rem 10rem;
}

.live-outer > .title{
    place-self: end;
    font-size: 9.6rem;
}

.live-outer > .table-content {
    padding: 5rem 25rem;
}

.live-outer > .table-content > table{
    table-layout: fixed ;
    width: 100%;
    border-collapse: collapse;
    /* border-color: #F3F1E5; */
}

.table-content > table > tbody > tr * {
    border-top: 1px solid #F3F1E5;
    height: 8.6rem;
    font-weight: 400;
    font-size: 1.13rem;
}

.table-content > table > tbody > tr * > span {
    font-size: 1rem;
    font-weight: 100;
    border : none;
}

.table-content > table > tbody > tr:last-child {
    border-bottom: 1px solid #F3F1E5;
}

.live-outer > .desc {
    text-align: center;
    font-size: 1.6rem;
}

.live-outer > .btn {
    place-self: center;
    margin-top: 1rem;
}

.live-outer > .btn > button {
    background-color: #fff;
    color: #000;
    height: 4.6rem;
    width: 16rem;
    border: none;
    cursor: pointer;
}







.footer-navbar{
    margin-top: auto;
    z-index: 2;
    width: 100%;
    display: flex;
    height: 7.6rem;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: #000;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.footer-navbar > .nav-logo {
    height: 7.2rem;
    width: 7.2rem;
    position: absolute;
    left: 50%;
}

.footer-navbar > .nav-logo > img{
    height: 7.2rem;
    width: 7.2rem;

}

.footer-navbar > .left-nav {
    display: flex;
    gap : 2.2rem;
}

.footer-navbar > .left-nav > a{
    color : #F3F1E5;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-navbar > .right-nav {
    display: flex;
    gap: 1rem;
}

.footer-navbar > .right-nav > a {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal{
    display: none;
    position: fixed ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 , 0, 0 );
    background-color: rgba(0 , 0, 0 ,0.6);
    z-index: 2;
}

.modal > .outer-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #F2F1E9;
    width: 50rem;
    height: 82rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 5fr; */
    /* flex-direction: column; */
}

.modal > .outer-container > #close {
    place-self: end;
    font-size: 4rem;
    margin-right: 1.5rem;
    cursor: pointer;
    /* position: absolute; */
    /* right : 0.5rem;
    top: 0.5rem; */
}

.modal > .outer-container > .container {
    width: 30rem;
    place-self: center;
    /* height: 100%; */
}


#aboutme{
    height: 198rem;
    padding-top: 7.5rem;
    background-image: url('./assets/AboutMeBG.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F1E5;
}

#aboutme > .about-me-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container > .about-me-header{
    font-size: 9.6rem;
    margin-bottom: 5rem;
}

.about-me-container > .aboutme-content{
    height: 165rem;
    width: 114rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000;
}

.aboutme-content > .head{
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 5rem;
    place-self: center;
}

.aboutme-content > .about{
    font-size: 2rem;
    margin: 2rem 5rem;
    align-self:  center;
}

.aboutme-content > .profile{
    height: 95rem;
    width: 100%;
}

.profile > img {
    height: 100%;
    width: 100%;
}

.aboutme-content > .white-bg {
    position: absolute;
    font-size: 3.2rem;
    font-weight: bold;
    background-color: #F3F1E5;
    color: #000;
    z-index: 4;
    width: 107rem;
    top: 110rem;
    place-self: center;
    padding: 5.2rem;
}

.aboutme-content > .story {
    margin-top: 10rem;
    font-size: 2rem;
    padding: 2rem 5rem;
}

.aboutme-content > .tag{
    padding: 2rem 22.3rem;
    font-size: 3.2rem;
    font-weight: bold;
}

.aboutme-content > .btn{
    place-self: center;
    width: 17.1rem;
    height: 3.8rem;
    background-color: #5B5151;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn > a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;

}


.get-in-touch .body{
    height: 607px;
    background-color: #F3F1E5;
}

.get-in-touch .footer{
    height: 350px;
    background-color: #000000;
    padding-left: 234px;
    padding-top: 67px;
    display: flex;
    gap: 27px;
}


.get-in-touch .footer .content{
     width: 467px;
     height: 300px;
     border-left: 1px solid #fff;
     position: relative;
}

.get-in-touch .footer .content .child{
    position: absolute;
    top: 0px;
    left: -18px;
    width: 33px;
    height: 36px;
    background-color: #F3F1E5;
}
